.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a293f;
    color: #ffffff;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Título del header */
  .header h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
  }
  
  /* Estilos de navegación */
  .header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .header nav li {
    margin-left: 1rem;
  }
  
  .header nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .header nav a:hover {
    background-color: #333333;
  }


body {
    font-family: sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%;
    max-width: 500px;
    margin: 3rem auto;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  
  h1 {
    text-align: left;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
  }
  
  form label {
    display: block;
    margin-top: 1rem;
  }
  
  form input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.7rem;
    background: #1a293f;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background: #3343d1;
  }


/* Oculta el input real */
input[type="file"] {
    display: none;
  }
  
  /* Estilo del botón con imagen */
  .upload-icon img {
    width: 50px; 
    height: 50px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Efecto al pasar el mouse */
  .upload-icon img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }
  